name: Ansible Lint  # feel free to pick your own name

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install Ansible
      uses: actions/setup-python@v4
      with:
        python-version: "3.8"
        cache: 'pip'
    - run: pip install ansible-core==2.12.1 ansible-lint==5.2.1 rich~=10.0.0 # https://github.com/ansible-community/ansible-lint/issues/1795
    - run: ansible-lint
