---
name: Molecule Tests
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform:
          - ubuntu-24.04
          - ubuntu-22.04
          - ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Install Ansible collections
        run: ansible-galaxy collection install community.docker

      - name: Run Molecule tests
        run: molecule test --platform-name ${{ matrix.platform }}
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
